{% extends 'base.html' %}

{% block title %}{{turn.turn_title}}{% endblock %}

{% block content %}

<h2>{{turn.turn_title}}</h2>
<p>{{turn.turn_text}}</p>
<em>{{turn.create_date}}</em><br>
{%if request.user.id == turn.creator or request.user.username == 'admin' %}
    <a href="{% url 'delete_turn' turn.id%}">Видалити чергу</a>
    {%if turn.status == False %}
         <a href="{% url 'open_turn' turn.id%}">Відкрити чергу</a>
    {%endif%}
    {%if turn.status == True %}
         <a href="{% url 'close_turn' turn.id%}">Закрити чергу</a>
    {%endif%}
    {% if latest_users_list %}
        <a href="{% url 'next_turn_user' turn.id%}">Наступний</a>
        <form action="{% url 'delete_turn_user' turn.id %}" method="POST">
            {% csrf_token %}
            <label for="user_list" style="display: inline-block">Оберіть користувача для видалення:</label>
            <select name="user" id="user_list" style="display: inline-block">
                <option value=""></option>
                {% for user in latest_users_list %}
                    <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
                {% endfor %}
            </select>
            <button type="submit" id="delete_button" style="display:none; margin-left: 5px; display: inline-block;">Видалити</button>
        </form>
    {%endif%}
{%endif%}
<script>
    var select = document.getElementById("user_list");
    var button = document.getElementById("delete_button");

    button.style.display = "none";
    select.value = "";

    select.addEventListener("change", function() {
        if (select.value) {
            button.style.display = "inline-block";
        } else {
            button.style.display = "none";
        }
    });
</script>

<hr>

{% if latest_users_list %}
<ol style="padding-inline-start: 1%">
    {% for i in latest_users_list %}
        <li>{{i.first_name}} {{i.last_name}}</li>
        <p>{{i.registration_date}}</p>
    {% endfor %}
</ol>
{% else %}
    Очікувачів немає, будьте першим!
{% endif %}

<hr>

{% if user.is_authenticated %}
    {% if user.id in users_id_list %}
        <p>Ви вже в черзі</p>
        <a href="{% url 'turn_unregister' turn.id %}">Скасувати реєстрацію</a>
    {%elif turn.status == True %}
        <form action="{% url 'turn_register' turn.id %}" method="POST">
            {% csrf_token %}
            <button type="submit">Зареєструватись у черзі</button>
        </form>
    {% else %}
        <p>Черга закрита для реєстрації</p>
    {% endif %}
{% else %}
    <p>Щоб зареєструватись у черзі потрібно авторизуватись на сайті!</p>
    <a href="{% url 'register'%}">Клікніть тут щоб зареєструватися</a><br>
    <a href="{% url 'login'%}">Клікніть тут щоб увійти</a>
{% endif %}

{% endblock %}