{% extends 'base.html' %}

{% block title %}Останні черги{% endblock %}

{% block content %}
    {% if latest_turns_list %}
        {% for a in latest_turns_list %}
            <li><a href="{% url 'detail' a.id %}">{{a.turn_title}}</a></li>
        {% endfor %}
    {% else %}
        Черг немає <br>
    {% endif %}

{% if user.is_authenticated %}
    <a href ="{% url 'create_turn' %}" >Створити чергу</a>
{% else %}
    <p>Щоб створити чергу потрібно авторизуватись на сайті!</p>
    <a href="{% url 'register'%}">Клікніть тут щоб зареєструватися</a><br>
    <a href="{% url 'login'%}">Клікніть тут щоб увійти</a>
{% endif %}

{% endblock %}