{% extends 'base.html' %}

{% block title %}Черги{% endblock %}

{% block content %}

<h1>Черги</h1>

<div class="turns">
    {% if latest_turns_list %}
        <ul>
            {% for a in latest_turns_list %}
                <li><a href="{% url 'detail' a.id %}"><i class="bi bi-dot">  </i>{{a.turn_title}}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Черг немає</p>
    {% endif %}
</div>

<div class="offer">
    <ul>
        {% if user.is_authenticated %}
            <li><a href ="{% url 'create_turn' %}" ><i class="bi bi-plus"></i>Створити чергу</a></li>
        {% else %}
            <li><p style="color: red">Щоб створити чергу, авторизуйтесь!</p></li>
            <li><a href="{% url 'register'%}">Реєстрація</a></li>
            <li><a href="{% url 'login'%}">Вхід</a></li>
        {% endif %}
    </ul>
</div>

{% endblock %}
