{% extends "base.html" %}

{% block title %}Аккаунт{% endblock %}

{% block content %}

<h1><i class="bi bi-person-circle">  </i>Аккаунт</h1>

<div>
    {% if user.is_authenticated %}
    <ul>
        <li>
            <a href="{% url 'password_change' %}">Змінити пароль</a>
        </li>
        <li>
            <a href="{% url 'password_reset' %}">Відновити пароль</a>
        </li>
        <li>
            <a style="color: red" href="{% url 'logout' %}">Вихід</a>
        </li>
    </ul>
    {% else %}
    <ul>
        <li>
            <a href="{% url 'register' %}">Реєстрація</a>
        </li>
        <li>
            <a href="{% url 'login' %}">Вхід</a>
        </li>
    </ul>
    {%endif%}
</div>

{% endblock %}
