{% extends "base.html" %}

{% block title %}Вхід{% endblock %}

{% block content %}

<h1>Вхід</h1>

<form method="post">
    {% csrf_token %}
    {{form.as_p}}
<!--    <label for="id_username">Номер телефону:</label>-->
<!--    <input type="username" name="username" autocomplete="current-username" required="" id="id_username"><br>-->
<!--    <label for="id_password">Пароль:</label>-->
<!--    <input type="password" name="password" autocomplete="current-password" required="" id="id_password">-->
    <button type="submit">Увійти</button>
</form>

{% endblock %}
