{% extends 'base.html' %}

{% block title%}Головна сторінка{% endblock %}

{%block content %}

<h1>Головна сторінка</h1>

<div>
        {% if user.is_authenticated %}
            <h2>Вітаємо, {{user.first_name}}!</h2>
        {% else %}
            <h2>Вітаємо, гість!</h2>
        {%endif%}
    <ul>
        <li><a href ="{% url 'index' %}" >Черги</a></li>
        {% if user.is_authenticated %}
            <li><a style="color: red" href ="{% url 'logout' %}" >Вихід</a></li>
        {% else %}
            <li><a href ="{% url 'register' %}">Реєстрація</a></li>
            <li><a href ="{% url 'login' %}">Вхід</a></li>
        {%endif%}
    </ul>

</div>

{% endblock %}