{% extends 'base.html' %}

{% block title%}Графік роботи{% endblock %}

{%block content %}

<h1><i class="bi bi-calendar2">   </i>Графік роботи</h1>

<div>
    <ul style="text-align: center">
        <li><p>Пн. 8:00 - 18:00</p></li>
        <li><p>Вт. 8:00 - 18:00</p></li>
        <li><p>Ср. 8:00 - 18:00</p></li>
        <li><p>Чт. 8:00 - 18:00</p></li>
        <li><p>Пт. 8:00 - 18:00</p></li>
        <li><p>Сб. 10:00 - 17:00</p></li>
        <li><p>Вс. 10:00 - 14:00</p></li>
    </ul>
</div>

{% endblock %}
